/* Write your CSS code here */

.post-header-container {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 18px;
  font-family: roboto;
  font-weight: bold;
}

.sub-heading {
  font-size: 14px;
  font-family: roboto;
  font-weight: 400;
}
